:root {
    --animation-time: 0.6s;
}

body {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
    -webkit-app-region: drag;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: bodyAppearance var(--animation-time) ease-out forwards;
}

@keyframes bodyAppearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.acrylic-background {
    opacity: 1;
    background-color: rgba(37, 37, 37, 0.836);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    padding: 1.5rem;
    display: inline-block;
    margin: 0.5rem;
    hyphens: auto;
    word-break: break-word;
    transition: opacity var(--animation-time) ease;
}

.acrylic-background__init {
    opacity: 0;
    transition: opacity var(--animation-time) ease;
}

.translation-container {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    width: 40rem;
    height: auto;
    transition: opacity var(--animation-time) ease;
}

.translation-container__init {
    opacity: 0;
    transition: opacity var(--animation-time) ease;
}

.translation {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: white;
}

.progress-bar-container {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 100%;
    max-width: 500px;
    height: 1rem;
    background: #585858;
    border-radius: 0.1rem;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 100%;
    width: 50%;
    background: rgb(65, 64, 64);
    position: absolute;
    left: -100%;
    animation: moveProgress var(--animation-time) linear infinite;
}

.progress-bar-container__hidden {
    display: none;
}

@keyframes moveProgress {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}